<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "Diary/app_header.html" %}
    <title>Забыли пароль?</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div id="login_container">
        <div id="login_form">
            <div id="login_form_header">
                <div style="display: flex; justify-content: center;">
                    <img src="{% static 'Diary/images/cottage_white_24dp.svg' %}" style="margin-bottom: 1rem;" alt="">
                    <h1 id="header_text">MDiary</h1>
                </div>
                <h5 style="color:white;">Смена пароля</h5>
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div style="padding-left: 1rem; padding-right: 1rem;">
                <input type="submit" class="btn btn-primary shadow-none w-100"
                       style="margin-left: 0; margin-right: 0;" value="Отправить письмо"/>
            </div>
        </div>
    </div>
</form>
</body>
</html>